
$primary: #2D3D76;
$secondary: #69679A;
$navBtn:#232158;
$white: #fff;
$callTopBg:#EFF2FF;
$navLink:#69679A;
$navActive:#22225B;
$primary_font:'Inter', sans-serif;
$title_font:'IBM Plex Serif', serif;
$copyBorder:#3D3B7E;
$scrolltopbg:#434086;